i {
  border: solid #51697a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin-right: 5px;
  display: inline-block;
  height: 28px;
  border: 1px solid #d9e1e8;
  border-radius: 2px;
  font-size: 13px;
  color: #51697a;
  font-weight: bold;
  line-height: 28px;
  padding: 0 16px;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  position: relative;
}

.menu li > span {
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 10px;
}
.menu .more {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  margin-left: 0;
  margin-right: 4px;
}

.menu li:hover {
  background-color: #1e93f5;
  color: #fff;
  border-color: #1e93f5;
}

.menu li:hover i {
  border-color: #fff;
}

.menu .hover {
  background-color: #1e93f5;
  color: #fff;
  border-radius: 2px;
  border-color: #1e93f5;
}
.menu .hover i {
  border-color: white;
}
.menu .hover .dropdown {
  color: #17232c;
}

.dropdown {
  position: absolute;
  top: 115%;
  left: 0;
  padding: 10px;
  min-width: 19.5em;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgb(253, 252, 252), 0 3px 5px 0 rgb(226, 218, 218);
  font-weight: normal;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown li {
  max-height: 28px;
}
.hidden {
  display: none;
}

.dropdown li span.price {
  float: right;
  margin-right: 15px;
  color: #6d8494;
}
.dropdown li:hover span.price {
  color: #1e93f5;
}
.dropdown li:hover {
  border-radius: 2px;
  color: #1e93f5;
  background-color: #f1f4f7;
}

.menu > li:hover .dropdown {
  color: #17232c;
}

.menu li span.only {
  color: #6d8494;
  margin-left: 3px;
  font-size: 12px;
}

.menu .dropdown li span.only:hover {
  color: #6d8494;
  text-decoration: underline;
}

.hover-icon {
  border-color: #fff;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3.5px;
  color: white;
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #92aabb;
}

.dropdown li:hover .container:hover input ~ .checkmark {
  border-color: #1e93f5;
}

.container input:checked ~ .checkmark {
  background-color: #1e93f5;
  border-color: #1e93f5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
